/* navigation css */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 204, 176);
}

header {
  background-color: rgb(34, 34, 34);
}
.logo {
  margin: 10px 20px;
  font-size: 2rem;
  color: white;
  float: left;
}

.menu {
  margin: 10px 20px;
  float: right;
}

.menu-item {
  float: left;
  list-style-type: none;
  margin: 0px 5px;
}

.menu-item-link {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.menu-item-link-p {
  font-size: 20px;
}

.clearFix {
  clear: both;
}

/* navigation css ends */

.card {
  padding: 50px 0px;
  width: 40%;
  margin: 100px auto;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}

h2 {
  font-size: 2rem;
  color: rgb(5, 204, 176);
  text-align: center;
  margin-bottom: 10px;
}

input {
  display: block;
  font-size: 1rem;
  margin: 10px auto;
  padding: 10px 40px;
  border-radius: 10px;
}

.login-button {
  cursor: pointer;
  background-color: rgb(5, 204, 176);
}

.alert-success {
  background-color: rgb(5, 204, 176);
  padding: 10px;
  margin: 0px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.errors {
  display: block;
  background-color: #ff5a67;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.logout-button {
  background-color: rgb(241, 96, 96);
  border-radius: 10px;
}
